html, body, main{
  height: 100%;
  margin: 0;
  padding: 0;

}

div#mapid {
  width: 100%; height: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/* .legend {

    line-height: 18px;
    color: #555;
}
.legend i {
    width: 30px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
} */

.legend ul{
  list-style-type: none;
  margin:0;
  padding: 6px 8px;
  border-radius: 5px;
}

.legend li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.legend i {
  width: 30px;
  height: 18px;
  margin-right: 8px;
}

#statsSelectLabel, #statsSelect, .instructionCtrl {
    border-radius:4px;   
    font: 16px Arial, Helvetica, sans-serif;   
    background: rgba(255,255,255,0.8);  
    padding: 4px 4px;
    margin: 4px;
}


/*select {*/
  /*margin: 50px;*/
  /*border: 1px solid #111;
  border-radius:4px;  
  background: transparent;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  /*background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;*/
  /*background: #eee;
  
}*/


/* CAUTION: IE hackery ahead */


/*select::-ms-expand { */
    /*display: none;  remove default arrow in IE 10 and 11 */
/*}*/

/* target Internet Explorer 9 to undo the custom arrow */
/*@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}*/